<?xml version="1.0"?>
<DbSnapAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Sys>Data Source=.;Initial Catalog=WoBangMai.Root;Persist Security Info=True;User ID=sy;pwd=123456;</Sys>
  <CMS>Data Source=.;Initial Catalog=WoBangMai.CMS;Persist Security Info=True;User ID=sy;pwd=123456;</CMS>
  <SMS>Data Source=.;Initial Catalog=WoBangMai.CMS;Persist Security Info=True;User ID=sy;pwd=123456;</SMS>
  <ADV>Data Source=.;Initial Catalog=WoBangMai.ADV;Persist Security Info=True;User ID=sy;pwd=123456;</ADV>
  <AppDbSnap>true</AppDbSnap>
  <WriteWaitTime>1</WriteWaitTime>
  <LoadBalanceScheduling>WeightedRoundRobinScheduling</LoadBalanceScheduling>
  <RecordeLog>false</RecordeLog>
  <DbSnapList>
    <DbSnap>
      <Name>Sys</Name>
      <SourceID>1</SourceID>
      <Enable>true</Enable>
      <ConnectionString>Data Source=.;Initial Catalog=WoBangMai.Root;Persist Security Info=True;User ID=sy;pwd=123456;</ConnectionString>
      <Weight>4</Weight>
    </DbSnap>

    <DbSnap>
      <Name>CMS</Name>
      <SourceID>2</SourceID>
      <Enable>true</Enable>
      <ConnectionString>Data Source=.;Initial Catalog=WoBangMai.CMS;Persist Security Info=True;User ID=sy;pwd=123456;</ConnectionString>
      <Weight>4</Weight>
    </DbSnap>

    <DbSnap>
      <Name>SMS</Name>
      <SourceID>3</SourceID>
      <Enable>true</Enable>
      <ConnectionString>Data Source=.;Initial Catalog=WoBangMai.SMS;Persist Security Info=True;User ID=sy;pwd=123456;</ConnectionString>
      <Weight>4</Weight>
    </DbSnap>
  
  <DbSnap>
      <Name>ADV</Name>
      <SourceID>3</SourceID>
      <Enable>true</Enable>
      <ConnectionString>Data Source=.;Initial Catalog=WoBangMai.Adv;Persist Security Info=True;User ID=sy;pwd=123456;</ConnectionString>
      <Weight>4</Weight>
    </DbSnap>
  </DbSnapList>
</DbSnapAppConfig>