@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>


<div class="module_container">
    <div class="container_content">
        <div class="contentbody">
            <div class="wrapper">
                <div class="header wow">
                    <p class="title">关于我们</p>
                    <p class="subtitle">About us</p>
                </div>
                <div class="description wow">
                    <p style="text-align: left;"><span style="font-size: 14px;">一键开启,洁静清新,只需10分钟,让房间彻底换气。内置德国欧司朗探芯 工业级水准，实时捕捉空气中PM2.5的细微变化，无论从技术创新，无与伦比的性能，还是永恒的设计，为优质的空气净化器设定了新的标准。</span><br /></p>
                    <p><br /></p>
                    <p style="text-align: left;"><a href="/a/guanyuwomen/guanyuwomen/" target="_self" title="MORE">MORE</a><br /></p>
                </div>
            </div>
        </div>
        <div class="mediabody wow">
            <a>
                <div class="image" style="background-image:url(Images/1502179743629.jpg)"></div>
            </a>
        </div>
        <div class="clear"></div>
    </div>
</div>
