@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>

<div class="mlist ad01 module ff_noSlider" style=" background-position: initial;background-size: cover;background-repeat: no-repeat; ">
    <div class="bgmask"></div>
    <div class="module_container">
        <div class="container_header wow">
            <p class="title">相关活动</p>
            <p class="subtitle">Activity</p>
        </div>
        <div class="container_content">
            <div class="content_wrapper">
                <div class="tab_content">
                    <div class="content_list clearfix">
                        <div id='item_block_0' class='item_block_0 item_block wow' style="animation-delay:.1s">
                            <div class="item_index">
                                01
                            </div>
                            <a href="/plus/view.php?aid=32" class="item_box">
                                <div href="/plus/view.php?aid=32" class="item_img" target="_blank">
                                    <img src="/Content/Picture/1503552721509.jpg" />
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="date_wrap">
                                            <span class="year">2017</span>
                                            <i class="time-connect">-</i>
                                            <span class="m">02</span>
                                            <i class="time-connect">-</i>
                                            <span class="d">23</span>
                                        </div>
                                        <p class="title ellipsis">随着技术的发展</p>
                                        <p class="subtitle ellipsis">家用空气净化器</p>
                                    </div>
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">02</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">23</span>
                                    </div>
                                    <div class="item_des">
                                        <div class="description cScrollbar"></div>
                                    </div>
                                </div>
                                <div class="item_index">
                                    01
                                </div>
                            </a>
                            <a href="/plus/view.php?aid=32" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                        <div id='item_block_1' class='item_block_1 item_block wow' style="animation-delay:.2s">
                            <div class="item_index">
                                01
                            </div>
                            <a href="/plus/view.php?aid=31" class="item_box">
                                <div href="/plus/view.php?aid=31" class="item_img" target="_blank">
                                    <img src="/Content/Picture/1503552739914.jpg" />
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="date_wrap">
                                            <span class="year">2017</span>
                                            <i class="time-connect">-</i>
                                            <span class="m">02</span>
                                            <i class="time-connect">-</i>
                                            <span class="d">23</span>
                                        </div>
                                        <p class="title ellipsis">空气净化器</p>
                                        <p class="subtitle ellipsis">Wool scarf</p>
                                    </div>
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">02</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">23</span>
                                    </div>
                                    <div class="item_des">
                                        <div class="description cScrollbar"></div>
                                    </div>
                                </div>
                                <div class="item_index">
                                    01
                                </div>
                            </a>
                            <a href="/plus/view.php?aid=31" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                        <div id='item_block_2' class='item_block_2 item_block wow' style="animation-delay:.3s">
                            <div class="item_index">
                                01
                            </div>
                            <a href="/plus/view.php?aid=30" class="item_box">
                                <div href="/plus/view.php?aid=30" class="item_img" target="_blank">
                                    <img src="/Content/Picture/1503553530806.jpg" />
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="date_wrap">
                                            <span class="year">2017</span>
                                            <i class="time-connect">-</i>
                                            <span class="m">02</span>
                                            <i class="time-connect">-</i>
                                            <span class="d">23</span>
                                        </div>
                                        <p class="title ellipsis">家用空气净化器</p>
                                        <p class="subtitle ellipsis">KJ470F-S7</p>
                                    </div>
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">02</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">23</span>
                                    </div>
                                    <div class="item_des">
                                        <div class="description cScrollbar"></div>
                                    </div>
                                </div>
                                <div class="item_index">
                                    01
                                </div>
                            </a>
                            <a href="/plus/view.php?aid=30" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                        <div id='item_block_3' class='item_block_3 item_block wow' style="animation-delay:.4s">
                            <div class="item_index">
                                01
                            </div>
                            <a href="/plus/view.php?aid=29" class="item_box">
                                <div href="/plus/view.php?aid=29" class="item_img" target="_blank">
                                    <img src="/Content/Picture/150346086578.jpg" />
                                    <div class="item_mask"></div>
                                </div>
                                <div class="item_wrapper clearfix">
                                    <div class="item_info clearfix">
                                        <div class="date_wrap">
                                            <span class="year">2017</span>
                                            <i class="time-connect">-</i>
                                            <span class="m">02</span>
                                            <i class="time-connect">-</i>
                                            <span class="d">23</span>
                                        </div>
                                        <p class="title ellipsis">X83C空气净化器</p>
                                        <p class="subtitle ellipsis">Wool scarf</p>
                                    </div>
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">02</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">23</span>
                                    </div>
                                    <div class="item_des">
                                        <div class="description cScrollbar"></div>
                                    </div>
                                </div>
                                <div class="item_index">
                                    01
                                </div>
                            </a>
                            <a href="/plus/view.php?aid=29" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
