@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>
<div id="assistBtn">
    <a href="javascript:;" onclick="$('html,body').scrollTop(0);return false;"><i class="fa fa-angle-up"></i></a>
    <a href="tel:400-888-880"><i class="fa fa-phone"></i></a>
    <a href="mqqwpa://im/chat?chat_type=wpa&amp;uin=&amp;version=1"><i class="fa fa-qq"></i></a>
</div>