@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>

<div id="footer">
    <p>
    <span class="ellipsis">Copyright (©) 2017 由<a target="_blank" href="http://www.22vd.com" style="text-decoration: none;">创客云</a>提供技术支持！ </span>
    <a class="beian" href="http://www.miitbeian.gov.cn/" style="color: #363636;vertical-align: top;margin-left: 10px;display: inline-block;" target="_blank"></a></p>
</div>