@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>

<div class="mlist imagelink module ff_slider" style="background-position:initial;background-size:initial;background-size:cover;background-repeat:cover;background-repeat:no-repeat;">
    <div class="bgmask"></div>
    <div class="module_container">
        <div class="container_header wow">
            <p class="title">合作伙伴</p>
        </div>
        <div class="container_content">
            <div class="content_wrapper slider" data-slider-num="8" data-slider-loop="1">
                <ul class="content_list">
                    <li id="item_block_1" class="item_block wow" style="animation-delay:.1s">
                        <a href="/plus/view.php?aid=19" target="_blank" class="item_img" title="合作伙伴六">
                            <div href="/plus/view.php?aid=19" class="item_box" target="_blank">
                                <img src="/Content/Picture/1488877624372.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴六</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_2" class="item_block wow" style="animation-delay:.2s">
                        <a href="/plus/view.php?aid=20" target="_blank" class="item_img" title="合作伙伴七">
                            <div href="/plus/view.php?aid=20" class="item_box" target="_blank">
                                <img src="/Content/Picture/1488877654522.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴七</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_3" class="item_block wow" style="animation-delay:.3s">
                        <a href="/plus/view.php?aid=18" target="_blank" class="item_img" title="合作伙伴五">
                            <div href="/plus/view.php?aid=18" class="item_box" target="_blank">
                                <img src="/Content/Picture/1488345960121.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴五</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_4" class="item_block wow" style="animation-delay:.4s">
                        <a href="/plus/view.php?aid=17" target="_blank" class="item_img" title="合作伙伴四">
                            <div href="/plus/view.php?aid=17" class="item_box" target="_blank">
                                <img src="/Content/Picture/1488345823656.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴四</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_5" class="item_block wow" style="animation-delay:.5s">
                        <a href="/plus/view.php?aid=16" target="_blank" class="item_img" title="合作伙伴三">
                            <div href="/plus/view.php?aid=16" class="item_box" target="_blank">
                                <img src="/Content/Picture/1488344880949.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴三</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_6" class="item_block wow" style="animation-delay:.6s">
                        <a href="/plus/view.php?aid=15" target="_blank" class="item_img" title="合作伙伴二">
                            <div href="/plus/view.php?aid=15" class="item_box" target="_blank">
                                <img src="/Content/Picture/148834587762.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴二</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li id="item_block_7" class="item_block wow" style="animation-delay:.7s">
                        <a href="/plus/view.php?aid=14" target="_blank" class="item_img" title="合作伙伴一">
                            <div href="/plus/view.php?aid=14" class="item_box" target="_blank">
                                <img src="/Content/Picture/14883459164.png" />
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2016</span>
                                        <span class="md">12-16</span>
                                    </div>
                                    <p class="title ellipsis">合作伙伴一</p>
                                    <p class="subtitle ellipsis"></p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2016</span>
                                    <span class="md">12-16</span>
                                </div>
                                <div class="item_des">
                                    <p class="description"></p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

