@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>
<div id="online_lx">
    <div id="olx_head">
        在线咨询
        <i class="fa fa-times fr" id="online_close"></i>
    </div>
    <ul id="olx_qq">
        <li><a href="tencent://message/?uin=88889999&amp;Site=uelike&amp;Menu=yes"><i class="fa fa-qq"></i>88889999</a></li>
    </ul>
    <div id="olx_tel">
        <div>
            <i class="fa fa-phone"></i>联系电话
        </div>
        <p>0479-826711199<br /></p>
    </div>
</div>
