@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>

<div id="pageTarget" class="ff_pageTarget module">
    <div class="module_container">
        <div class="container_target wow">
            您的位置：
            <a href="/">首页</a>
            <i class="fa fa-angle-right"></i>
            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/ ">家用净化器</a>
        </div>
        <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15">
            <a href="/a/chanpinzhongxin/"> <span>全部</span> </a>
            <a href='/a/chanpinzhongxin/jiayongjinghuaqi/' class='active'><span>家用净化器</span></a>
            <a href="/a/chanpinzhongxin/chezaijinghuaqi/"><span>车载净化器</span></a>

        </div>
        <div class="clear"></div>
    </div>
</div>

