@{ Layout = null;}

@model IEnumerable<WoBangMai.Models.News>

<div class="mlist project module ff_noSlider" style=" background-position: initial;background-size: cover;background-repeat: no-repeat; ">
    <div class="bgmask"></div>
    <div class="module_container">
        <div class="container_header wow">
            <p class="title">产品中心</p>
            <p class="subtitle">Products</p>
        </div>
        <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15">
            <a href="/a/chanpinzhongxin/" class="active"> <span>全部</span> </a>

            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/"><span>家用净化器</span></a>

            <a href="/a/chanpinzhongxin/chezaijinghuaqi/"><span>车载净化器</span></a>

        </div>
        <div class="container_content">
            <div class="content_wrapper">
                <div class="content_list clearfix">
                    <div id="item_block_1" class="item_block_1 item_block wow" style="animation-delay:.1s">
                        <div class="item_index">
                            01
                        </div>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/25.html" class="item_box">
                            <div href="/a/chanpinzhongxin/jiayongjinghuaqi/25.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502877107573.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">KJ225F-E1</p>
                                    <p class="subtitle ellipsis">宾尚E系列</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">随着技术的发展，空气净化器的功能也越来越全面，如今一款优秀的空气净化器首先要具有足够的CADR值，以达到预期的净化效果；同时还要对室内污染物含量进行实时监测，让用户做到心中有数；智能操控也是很必要的。想要一款满足上述所有条件的空气净化器？能够满足您的要求。 这款产品的颗粒物CADR值为750m3/h，净化面积为90㎡的客厅一次仅需17分钟，强大性能可见一斑。甲醛CADR也达到了225m3/h，对室内颗粒物和甲醛都具有相当不错的净化效果，全面保护家人呼吸健康。之所以能够达到如此高的CADR值，得益于其四周进风、顶部出风的设计，只需一键即可实现360无死角净化。 智能化也是目前空气净化器不可或缺的功能，只需手机扫码连接净化器，随时随地都能轻松查看家中的空气质量，还能对空气净化器进行远程操控。下班之前即可远程遥控打开家中的净化器，到家即可享受洁净的空气，再也不必为室内空气污染困扰。当然，在家中如果不想用手机操作，还可以通过净化器自带的遥控器进行遥控，相当方便。...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                01
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/25.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/25.html">KJ225F-E1</a>
                        </div>
                    </div>
                    <div id="item_block_2" class="item_block_2 item_block wow" style="animation-delay:.2s">
                        <div class="item_index">
                            02
                        </div>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/24.html" class="item_box">
                            <div href="/a/chanpinzhongxin/jiayongjinghuaqi/24.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502179503163.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">X50空气净化器</p>
                                    <p class="subtitle ellipsis">Wool scarf</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">这款产品的颗粒物CADR值为750m3/h，净化面积为90㎡的客厅一次仅需17分钟，强大性能可见一斑。甲醛CADR也达到了225m3/h，对室内颗粒物和甲醛都具有相当不错的净化效果，全面保护家人呼吸健康。之所以能够达到如此高的CADR值，得益于其四周进风、顶部出风的设计，只需一键即可实现360无死角净化。 智能化也是目前空气净化器不可或缺的功能，只需手机扫码连接净化器，随时随地都能轻松查看家中的空气质量，还能对空气净化器进行远程操控。下班之前即可远程遥控打开家中的净化器，到家即可享受洁净的空气，再也不必为室内空气污染困扰。当然，在家中如果不想用手机操作，还可以通过净化器自带的遥控器进行遥控，相当方便。...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                02
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/24.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/24.html">X50空气净化器</a>
                        </div>
                    </div>
                    <div id="item_block_3" class="item_block_3 item_block wow" style="animation-delay:.3s">
                        <div class="item_index">
                            03
                        </div>
                        <a href="/a/chanpinzhongxin/chezaijinghuaqi/22.html" class="item_box">
                            <div href="/a/chanpinzhongxin/chezaijinghuaqi/22.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502179362251.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">KJ180F-A3</p>
                                    <p class="subtitle ellipsis">Blueair Classic</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">在产品同质化严重的今天，净化器市场也不例外，千篇一律的产品造型让人丝毫没有购买欲望。T02可谓是业界的一股“清流”，不同于大部分产品圆润的外观，设计师用看似简单的线条为其勾勒...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                03
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/chezaijinghuaqi/22.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/chezaijinghuaqi/22.html">KJ180F-A3</a>
                        </div>
                    </div>
                    <div id="item_block_4" class="item_block_4 item_block wow" style="animation-delay:.4s">
                        <div class="item_index">
                            04
                        </div>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/23.html" class="item_box">
                            <div href="/a/chanpinzhongxin/jiayongjinghuaqi/23.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502179441821.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">X83C空气净化器</p>
                                    <p class="subtitle ellipsis">Wool scarf</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">这款产品的颗粒物CADR值为750m3/h，净化面积为90㎡的客厅一次仅需17分钟，强大性能可见一斑。甲醛CADR也达到了225m3/h，对室内颗粒物和甲醛都具有相当不错的净化效果，全面保护家人呼吸健康。之所以能够达到如此高的CADR值，得益于其四周进风、顶部出风的设计，只需一键即可实现360°无死角净化。...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                04
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/23.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/23.html">X83C空气净化器</a>
                        </div>
                    </div>
                    <div id="item_block_5" class="item_block_5 item_block wow" style="animation-delay:.5s">
                        <div class="item_index">
                            05
                        </div>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/6.html" class="item_box">
                            <div href="/a/chanpinzhongxin/jiayongjinghuaqi/6.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502179345514.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">KJ600F-T01</p>
                                    <p class="subtitle ellipsis">家用空气净化器</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">随着技术的发展，空气净化器的功能也越来越全面，如今一款优秀的空气净化器首先要具有足够的CADR值，以达到预期的净化效果；同时还要对室内污染物含量进行实时监测，让用户做到心中有...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                05
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/6.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/6.html">KJ600F-T01</a>
                        </div>
                    </div>
                    <div id="item_block_6" class="item_block_6 item_block wow" style="animation-delay:.6s">
                        <div class="item_index">
                            06
                        </div>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/4.html" class="item_box">
                            <div href="/a/chanpinzhongxin/jiayongjinghuaqi/4.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502179171830.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">12</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">14</span>
                                    </div>
                                    <p class="title ellipsis">KJ750F-T02</p>
                                    <p class="subtitle ellipsis">至尊T系列</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">12</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">14</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">净化器内部设有高精度空气质量传感器，能够实时监测空气中PM2.5。其外观整洁，这apd-0514b没有伸出太多；相反，它给用户提供了一个意义上的可靠性和稳定性。拱形的“孔”通过它的光指示空...</p>
                                </div>
                            </div>
                            <div class="item_index">
                                06
                            </div>
                        </a>
                        <a href="/a/chanpinzhongxin/jiayongjinghuaqi/4.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/chanpinzhongxin/jiayongjinghuaqi/4.html">KJ750F-T02</a>
                        </div>
                    </div>
                </div>
                <a href="/a/chanpinzhongxin/" class="more wow" style="animation-delay:.5s">MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>

<div class="mcustomize module bgShow horizontal tril" style=" background-image:url(Images/1503390077444.jpg); background-position: initial;background-size: cover;background-repeat: no-repeat ">
<div class="bgmask"></div>
