@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>

<div class="module_container">
    <div class="container_header wow">
        <p class="title">服务支持</p>
        <p class="subtitle"></p>
    </div>
    <div class="container_content">
        <div class="content_wrapper">
            <div class="content_list clearfix">
                <div id="item_block_1" class="item_block_1 item_block wow" style="animation-delay:.1s">
                    <div class="item_index">
                        01
                    </div>
                    <a href="/a/guanyuwomen/fuwuzhichi/11.html" class="item_box">
                        <div href="/a/guanyuwomen/fuwuzhichi/11.html" class="item_img" target="_blank">
                            <img src="/Content/Picture/1502346620828.png" />
                            <div class="item_mask"></div>
                        </div>
                        <div class="item_wrapper clearfix">
                            <div class="item_info clearfix">
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">08</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">08</span>
                                </div>
                                <p class="title ellipsis">微净化</p>
                                <p class="subtitle ellipsis">数据实时掌控 ，净化随需而变</p>
                            </div>
                            <div class="date_wrap">
                                <span class="year">2017</span>
                                <i class="time-connect">-</i>
                                <span class="m">08</span>
                                <i class="time-connect">-</i>
                                <span class="d">08</span>
                            </div>
                            <div class="item_des">
                                <p class="description">采用低位明装，机门打开极方便，机内部件均可取出进行清洗或更换；设备及风管系统内部干净，不需要频繁清理维护。采用直流无刷变频电机，比传统电机省电40%，普通家庭使用一天只需1度电，噪音低。...</p>
                            </div>
                        </div>
                        <div class="item_index">
                            01
                        </div>
                    </a>
                    <a href="/a/guanyuwomen/fuwuzhichi/11.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                    <div class="item_tags clearfix">
                        <i class="fa fa-tags"></i>
                        <a href="/a/guanyuwomen/fuwuzhichi/11.html"> 空气净化器 </a>
                    </div>
                </div>
                <div id="item_block_2" class="item_block_2 item_block wow" style="animation-delay:.2s">
                    <div class="item_index">
                        01
                    </div>
                    <a href="/a/guanyuwomen/fuwuzhichi/10.html" class="item_box">
                        <div href="/a/guanyuwomen/fuwuzhichi/10.html" class="item_img" target="_blank">
                            <img src="/Content/Picture/1502346632529.png" />
                            <div class="item_mask"></div>
                        </div>
                        <div class="item_wrapper clearfix">
                            <div class="item_info clearfix">
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">08</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">08</span>
                                </div>
                                <p class="title ellipsis">杀病菌</p>
                                <p class="subtitle ellipsis">不再简单吸附 , 真正彻底杀除</p>
                            </div>
                            <div class="date_wrap">
                                <span class="year">2017</span>
                                <i class="time-connect">-</i>
                                <span class="m">08</span>
                                <i class="time-connect">-</i>
                                <span class="d">08</span>
                            </div>
                            <div class="item_des">
                                <p class="description">采用智能控制系统和 AI 控制界面，使设备充分发挥效能并始终处于最佳状态，满足舒适性要求，并最大程度地减少能耗。静电集尘器能过滤90%以上 PM2.5，大大减轻高效过滤器的负担，使高效的寿命延长2倍。...</p>
                            </div>
                        </div>
                        <div class="item_index">
                            01
                        </div>
                    </a>
                    <a href="/a/guanyuwomen/fuwuzhichi/10.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                    <div class="item_tags clearfix">
                        <i class="fa fa-tags"></i>
                        <a href="/a/guanyuwomen/fuwuzhichi/10.html"> 空气净化器 </a>
                    </div>
                </div>
                <div id="item_block_3" class="item_block_3 item_block wow" style="animation-delay:.3s">
                    <div class="item_index">
                        01
                    </div>
                    <a href="/a/guanyuwomen/fuwuzhichi/9.html" class="item_box">
                        <div href="/a/guanyuwomen/fuwuzhichi/9.html" class="item_img" target="_blank">
                            <img src="/Content/Picture/1502346611866.png" />
                            <div class="item_mask"></div>
                        </div>
                        <div class="item_wrapper clearfix">
                            <div class="item_info clearfix">
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">08</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">08</span>
                                </div>
                                <p class="title ellipsis">超智能</p>
                                <p class="subtitle ellipsis">人性化智能体验 , 数据看得见</p>
                            </div>
                            <div class="date_wrap">
                                <span class="year">2017</span>
                                <i class="time-connect">-</i>
                                <span class="m">08</span>
                                <i class="time-connect">-</i>
                                <span class="d">08</span>
                            </div>
                            <div class="item_des">
                                <p class="description">工艺设计的基本任务是保证生产的产品能符合设计的要求，制定优质、高产、低耗的产品制造工艺规程，制订出产品的试制...</p>
                            </div>
                        </div>
                        <div class="item_index">
                            01
                        </div>
                    </a>
                    <a href="/a/guanyuwomen/fuwuzhichi/9.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                    <div class="item_tags clearfix">
                        <i class="fa fa-tags"></i>
                        <a href="/a/guanyuwomen/fuwuzhichi/9.html"> 空气净化器 </a>
                    </div>
                </div>
                <div id="item_block_4" class="item_block_4 item_block wow" style="animation-delay:.4s">
                    <div class="item_index">
                        01
                    </div>
                    <a href="/a/guanyuwomen/fuwuzhichi/8.html" class="item_box">
                        <div href="/a/guanyuwomen/fuwuzhichi/8.html" class="item_img" target="_blank">
                            <img src="/Content/Picture/1502346599187.png" />
                            <div class="item_mask"></div>
                        </div>
                        <div class="item_wrapper clearfix">
                            <div class="item_info clearfix">
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">08</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">08</span>
                                </div>
                                <p class="title ellipsis">除雾霾</p>
                                <p class="subtitle ellipsis">净化PM2.5效率达到99.96%</p>
                            </div>
                            <div class="date_wrap">
                                <span class="year">2017</span>
                                <i class="time-connect">-</i>
                                <span class="m">08</span>
                                <i class="time-connect">-</i>
                                <span class="d">08</span>
                            </div>
                            <div class="item_des">
                                <p class="description">欧盟一份研究表明，家中多种常见物品是挥发性有机物的主要来源。许多消费产品和可降解材料也会释放挥发性有机物，其中甲醛、苯、萘是最普遍和令人担忧的三大有害气体。...</p>
                            </div>
                        </div>
                        <div class="item_index">
                            01
                        </div>
                    </a>
                    <a href="/a/guanyuwomen/fuwuzhichi/8.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                    <div class="item_tags clearfix">
                        <i class="fa fa-tags"></i>
                        <a href="/a/guanyuwomen/fuwuzhichi/8.html"> 空气净化器 </a>
                    </div>
                </div>
                <div id="item_block_5" class="item_block_5 item_block wow" style="animation-delay:.5s">
                    <div class="item_index">
                        01
                    </div>
                    <a href="/a/guanyuwomen/fuwuzhichi/7.html" class="item_box">
                        <div href="/a/guanyuwomen/fuwuzhichi/7.html" class="item_img" target="_blank">
                            <img src="/Content/Picture/1502346587341.png" />
                            <div class="item_mask"></div>
                        </div>
                        <div class="item_wrapper clearfix">
                            <div class="item_info clearfix">
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">08</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">08</span>
                                </div>
                                <p class="title ellipsis">除甲醛</p>
                                <p class="subtitle ellipsis">折叠滤网精密相融 , 直接净化</p>
                            </div>
                            <div class="date_wrap">
                                <span class="year">2017</span>
                                <i class="time-connect">-</i>
                                <span class="m">08</span>
                                <i class="time-connect">-</i>
                                <span class="d">08</span>
                            </div>
                            <div class="item_des">
                                <p class="description">室内空气污染物的来源甚多，既可能来源于室内也可能来源于室外。汽车尾气和工业排放污染是众所周知的污染系统。...</p>
                            </div>
                        </div>
                        <div class="item_index">
                            01
                        </div>
                    </a>
                    <a href="/a/guanyuwomen/fuwuzhichi/7.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                    <div class="item_tags clearfix">
                        <i class="fa fa-tags"></i>
                        <a href="/a/guanyuwomen/fuwuzhichi/7.html"> 空气净化器 </a>
                    </div>
                </div>
            </div>
            <a href="http://mo005-3785.mo5.line1.uemo.net/list/id/37397/" class="more wow" style="animation-delay:.5s">MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="clear"></div>
</div>