@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>
<div id="shares">
    <a href="http://service.weibo.com/share/share.php?appkey=3206975293&amp;" target="_blank" id="sweibo"><i class="fa fa-weibo"></i></a>
    <a href="javascript:;" id="sweixin"><i class="fa fa-mobile"></i></a>
    <a href="javascript:;" id="gotop"><i class="fa fa-angle-up"></i></a>
</div>
