@{ Layout = null;}
@model IEnumerable<WoBangMai.Models.News>
<div class="mlist service module ff_slider" style=" background-position: initial;background-size: cover;background-repeat: no-repeat; ">
    <div class="bgmask"></div>
    <div class="module_container">
        <div class="container_header wow">
            <p class="title">案例</p>
            <p class="subtitle">~engtype~</p>
        </div>
        <div class="container_category wow movedx" data-movedx-mid="2" data-movedx-distance="15">
            <a href="/a/anli/" class="active"> <span>全部</span> </a>

            <a href="/a/anli/huanweijixie/"><span>环卫机械</span></a>

            <a href="/a/anli/yunshujixie/"><span>运输机械</span></a>

        </div>
        <div class="container_content">
            <div class="content_wrapper slider" data-slider-num="3" data-slider-loop="0">
                <div class="content_list clearfix">
                    <div id="item_block_1" class="item_block_1 item_block wow" style="animation-delay:.1s">
                        <div class="item_index">
                            01
                        </div>
                        <a href="/a/anli/yunshujixie/28.html" class="item_box">
                            <div href="/a/anli/yunshujixie/28.html" class="item_img" target="_blank">
                                <img src="~/Content/Picture/1503657867786.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">07</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">11</span>
                                    </div>
                                    <p class="title ellipsis">触屏操作，简单方便</p>
                                    <p class="subtitle ellipsis">Touch screen</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">07</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">11</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">触摸屏面板功能强大，滤网更换提示灯、定时功能、风速调节、儿童锁、睡眠模式、自动调节风速、空气指数指示灯等人性化功能一应俱全，可满足不同需求。</p>
                                </div>
                            </div>
                            <div class="item_index">
                                01
                            </div>
                        </a>
                        <a href="/a/anli/yunshujixie/28.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/anli/yunshujixie/28.html">触屏操作，简单方便</a>
                        </div>
                    </div>
                    <div id="item_block_2" class="item_block_2 item_block wow" style="animation-delay:.2s">
                        <div class="item_index">
                            01
                        </div>
                        <a href="/a/anli/yunshujixie/27.html" class="item_box">
                            <div href="/a/anli/yunshujixie/27.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502956840202.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">07</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">11</span>
                                    </div>
                                    <p class="title ellipsis">智能微粒感应系统</p>
                                    <p class="subtitle ellipsis">Intelligence</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">07</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">11</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">居家及办公场所的好选择，别墅、大平层、以及办公室等较大空间净化效果特别出众。提供予您安全、健康、纯净的室内空气，让您享受每一刻健康洁净的呼吸！</p>
                                </div>
                            </div>
                            <div class="item_index">
                                01
                            </div>
                        </a>
                        <a href="/a/anli/yunshujixie/27.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/anli/yunshujixie/27.html">智能微粒感应系统</a>
                        </div>
                    </div>
                    <div id="item_block_3" class="item_block_3 item_block wow" style="animation-delay:.3s">
                        <div class="item_index">
                            01
                        </div>
                        <a href="/a/anli/yunshujixie/26.html" class="item_box">
                            <div href="/a/anli/yunshujixie/26.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502180679741.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">07</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">11</span>
                                    </div>
                                    <p class="title ellipsis">灵智感应，有效净化</p>
                                    <p class="subtitle ellipsis">Air purification</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">07</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">11</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">适合不同面积空间需要，所有型号产品高性能、高品质。无论在家里还是在工作场所，我们都将提供给您安全、健康、纯净的室内空气。提供予您安全、健康、纯净的室内空气，让您享受每一刻健康洁净的呼吸！</p>
                                </div>
                            </div>
                            <div class="item_index">
                                01
                            </div>
                        </a>
                        <a href="/a/anli/yunshujixie/26.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/anli/yunshujixie/26.html">灵智感应，有效净化</a>
                        </div>
                    </div>
                    <div id="item_block_4" class="item_block_4 item_block wow" style="animation-delay:.4s">
                        <div class="item_index">
                            01
                        </div>
                        <a href="/a/anli/huanweijixie/21.html" class="item_box">
                            <div href="/a/anli/huanweijixie/21.html" class="item_img" target="_blank">
                                <img src="/Content/Picture/1502180434952.jpg" />
                                <div class="item_mask"></div>
                            </div>
                            <div class="item_wrapper clearfix">
                                <div class="item_info clearfix">
                                    <div class="date_wrap">
                                        <span class="year">2017</span>
                                        <i class="time-connect">-</i>
                                        <span class="m">07</span>
                                        <i class="time-connect">-</i>
                                        <span class="d">11</span>
                                    </div>
                                    <p class="title ellipsis">宝宝的呼吸品质，一目了</p>
                                    <p class="subtitle ellipsis">Blueair Classic</p>
                                </div>
                                <div class="date_wrap">
                                    <span class="year">2017</span>
                                    <i class="time-connect">-</i>
                                    <span class="m">07</span>
                                    <i class="time-connect">-</i>
                                    <span class="d">11</span>
                                </div>
                                <div class="item_des">
                                    <p class="description">小面积家居的最佳选择，适合不同面积空间需要，所有型号产品高性能、高品质。无论在家里还是在工作场所，我们都将提供给您安全、健康、纯净的室内空气。</p>
                                </div>
                            </div>
                            <div class="item_index">
                                01
                            </div>
                        </a>
                        <a href="/a/anli/huanweijixie/21.html" class="details"> MORE<i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <div class="item_tags clearfix">
                            <i class="fa fa-tags"></i>
                            <a href="/a/anli/huanweijixie/21.html">宝宝的呼吸品质，一目了</a>
                        </div>
                    </div>
                </div>
                <a href="http://mo005-3785.mo5.line1.uemo.net/list/id/37399/" class="more wow" style="animation-delay:.5s">MORE<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="mlist team module bgShow ff_noSlider" style=" background-position: center center; background-size: initial; background-repeat: no-repeat; background-image:url(Images/1502331338154_1.jpg);">
<div class="bgmask"></div>