<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>我帮买</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />


    <link href="/Content/Alice/normalize.css" rel="stylesheet" />
    <link href="/Content/Alice/site.css" rel="stylesheet" />
    <link href="/Content/Alice/style.css" rel="stylesheet" />
    <link href="/Content/Alice/baseui.css" rel="stylesheet" />


    <script src="/assets/js/jquery1.9.js"></script>

    <script src="/assets/js/smoothscroll.js"></script>
    <script src="/assets/js/ol.loading/jquery.bgiframe.min.js"></script>
    <script src="/assets/js/ol.loading/jquery.bgiframe.min.js"></script>
    <script src="/assets/js/ol.loading//loading-min.js"></script>
    <script src="/assets/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/assets/js/app/base.js"></script>


    <script src="/assets/js/slick.min.js"></script>
    <script src="/assets/js/scrollReveal.js"></script>
    <script src="/assets/js/main.js"></script>

</head>

<body>

    @RenderSection("featured", required: false)
 
    @RenderBody()
  
</body>
</html>
