@{ Layout = null;}
@using WoBangMai.Utils;
@model IEnumerable<WoBangMai.Models.cms_category>

<div class="side_box has_sub">
    <div class="section_title_1">
        <p>关于/ABOUT</p>
    </div>
    <div class="catg_name">
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <a href="/About?id=@item.Category_ID" class="@(item.Category_ID==ZConvert.ToInt(TempData["currentchildNav"])?"on":"off")">@item.CategoryName</a>
            }
        }
        else
        {
            <a href="/Gallery" class="on">获得荣耀</a>
            <a href="/Gallery">公司历史</a>
        }

    </div>

</div>
