@{
    Layout =null;
}
<div class="footer">
    <div class="footer_cell">

        <div class="foot_extend cf">
            <div class="foot_img">
                <!--下面img标签里填写底部图片地址-->
                <img src='/content/image/dd.jpg' />
            </div>

            <!--修改下方每个条目href的#可跳转链接地址   如果只有3列，修改for4为for3-->
            <div class="foot_box for4">
                <p>HANCHENG VISION</p><!--此处为标题 修改标签内的文字-->
                <a href="#">WHO WE ARE 关于我们</a>
                <a href="#">CONTACT US 联系我们</a>
                <a href="#">WEIXIN 官方微信</a>
                <a href="#">SINA WEIBO 新浪微博</a>
            </div>
            <div class="foot_box for4">
                <p>SHOWCASE</p>
                <a href="#">WORKS 样片展示</a>
                <a href="#">LOVESHOW 客片欣赏</a>
                <a href="#">VIDEO 微电影</a>
            </div>
            <div class="foot_box for4">
                <p>NEWS</p>
                <a href="#">ACTIVITY 热门活动</a>
                <a href="#">NEWS 新闻资讯</a>
                <a href="#">TIPS 服务小贴士</a>
            </div>
            <div class="foot_box for4">
                <p>SERVICE</p>
                <a href="#">EVENT 优惠无时不刻</a>
                <a href="#">ART PHOTO 个人艺术写真</a>
                <a href="#">WEDDING 婚纱摄影报价</a>
            </div>
        </div>


        <div class="follow">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=10000&amp;site=qq&amp;menu=yes" target="_blank"><span class="s-qq" title="与我QQ在线聊天"></span></a>
            <a href="http://weibo.com/" target="_blank"><span class="s-weibo" title="访问我的新浪微博"></span></a>
        </div>

        <p class="copy"><p>© 2009-2016 <a href="http://www.22vd.com/">创客云</a>   粤ICP备64053168号　　<a style="color: rgb(254, 2, 2);" href="http://www.22vd.com/9456.html/">购买主题</a></p>
        <p class="" style="font-size: 11px;">
            &nbsp;Power by
            <a style="color: #aaa" href="http://www.22vd.com/" target="_blank">Maker Cloud</a>
        </p>

    </div>

</div>
