@{  Layout = null; }
<div class="slider">
    <div class="item" style="background-image: url(/content/1-slideshow/d.jpg)"><a href="index.html"></a></div>
    <div class="item" style="background-image: url(/content/1-slideshow/e.jpg)"><a href="index.html"></a></div>
    <div class="item" style="background-image: url(/content/1-slideshow/b1.jpg)"><a href="index.html"></a></div>
    <div class="item" style="background-image: url(/content/1-slideshow/b4.jpg)"><a href="index.html"></a></div>
    <div class="item" style="background-image: url(/content/1-slideshow/b5.jpg)"><a href="index.html"></a></div>
</div><!-- 幻灯片结束 -->